<a href="https://colab.research.google.com/github/auniyaa/Lab-Data-Science/blob/main/LABDS_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
2+3
print("Hello, World!")

[1] 5

[1] "Hello, World!"

In [22]:
myString<- "Hello, World!"
print(myString)

[1] "Hello, World!"

In [23]:
var.1 = 5
var_1 = 7
x = 1
print(ls())
print(ls(pattern = "var"))

 [1] "a"        "b"        "c"        "f"        "myString" "v"
 [7] "var_1"    "var.1"    "w"        "Weight"   "x"
[1] "var_1" "var.1"

In [24]:
var.1 = 5
var_1 = 7
x = 1
print(ls())
print(ls(pattern = "var"))

 [1] "a"        "b"        "c"        "f"        "myString" "v"
 [7] "var_1"    "var.1"    "w"        "Weight"   "x"
[1] "var_1" "var.1"

In [25]:
gender<-"female"
height<-152
print(gender)
print(height)

gender<<-"female"
height<<-152
print(gender)
print(height)

[1] "female"
[1] 152
[1] "female"
[1] 152

In [26]:
weight = 81
3 -> f
23.5->>x
b<-seq(from=0,to=5)
c<-seq(from=0,to=10,by=2)
v=2L
w<<-2+5i
a<-charToRaw("hello")
print(weight)
print(f)
print(x)
print(b)
print(c)
print(v)
print(w)
print(a)

[1] 81
[1] 3
[1] 23.5
[1] 0 1 2 3 4 5
[1]  0  2  4  6  8 10
[1] 2
[1] 2+5i
[1] 68 65 6c 6c 6f

In [28]:
print(class(gender))
print(class(height))
print(class(f))
print(class(x))
print(class(b))
print(class(c))
print(class(v))
print(class(w))
print(class(a))

[1] "character"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "integer"
[1] "numeric"
[1] "integer"
[1] "complex"
[1] "raw"

In [29]:
print(f+3)
print(height-x)
print(weight*2)
print(b**2)
print(c^5)
m = height/100
print(weight/(m**2))
BMI = weight/(m**2)
print(b%%2)
print(c%/%2)

[1] 6
[1] 128.5
[1] 162
[1]  0  1  4  9 16 25
[1]      0     32   1024   7776  32768 100000
[1] 35.05886
[1] 0 1 0 1 0 1
[1] 0 1 2 3 4 5

In [30]:
print(f+3)
print(height-x)
print(weight*2)
print(b**2)
print(c^5)
m = height/100
print(weight/(m**2))
BMI = weight/(m**2)
print(b%%2)
print(c%/%2)

[1] 6
[1] 128.5
[1] 162
[1]  0  1  4  9 16 25
[1]      0     32   1024   7776  32768 100000
[1] 35.05886
[1] 0 1 0 1 0 1
[1] 0 1 2 3 4 5

In [31]:
name<- readline(prompt="Enter name: ")
age<- readline(prompt = "Enter age: ")
#convert character into numeric
age<-as.numeric(age)
print(paste("Hi, ",name, "this year you are", age, "years old."))

Enter name: auni
Enter age: 20
[1] "Hi,  auni this year you are 20 years old."

ACTIVITY

In [ ]:
for (i in 1:20) {
  print(paste(i, "=", i^2))
}

In [38]:
num1= 0.956786
num2 = 2.8345901
round(num1,2)
round(num2,3)

[1] 0.96

[1] 2.835

In [42]:
radius <- as.numeric(readline("Enter radius value of circle: "))
area <- pi * radius^2
print(area)

Enter radius value of circle: 6
[1] 113.0973